<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello,</h1>
    <p>
      You are invited on Supbook.<br/>
    </p>
    <p>
      To join to the site, just follow this link: <%= @url %>.
    </p>

  </body>
</html>